.featured_section{
	margin-bottom: 20px;
}


.container {
	width:75%;
	margin: 0px auto;
}
body {
   
}

.myfooter, .push {
	margin-top:20px;
	text-align: center;
	position: relative;
	height: 50px; /* .push must be the same height as .footer */
}

.featured a, .category a{
	text-decoration: none;
	color: black;
}

.wood {
	background-image: linear-gradient(left , rgb(183,212,172) 15%, rgb(144,189,127) 58%, rgb(177,212,155) 79%);
	background-image: -o-linear-gradient(left , rgb(183,212,172) 15%, rgb(144,189,127) 58%, rgb(177,212,155) 79%);
	background-image: -moz-linear-gradient(left , rgb(183,212,172) 15%, rgb(144,189,127) 58%, rgb(177,212,155) 79%);
	background-image: -webkit-linear-gradient(left , rgb(183,212,172) 15%, rgb(144,189,127) 58%, rgb(177,212,155) 79%);
	background-image: -ms-linear-gradient(left , rgb(183,212,172) 15%, rgb(144,189,127) 58%, rgb(177,212,155) 79%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0.15, rgb(183,212,172)),
		color-stop(0.58, rgb(144,189,127)),
		color-stop(0.79, rgb(177,212,155))
	);
	min-width: 1200px;
}

.navbar ul{
	position:relative;
	display:inline-block;
	left:30px;
	top: 30px;
}

.navbar li{
	list-style: none;
	display:inline-block;
	min-width: 60px;
	height:40px;
	text-align: center;
	font-family: 'Anaheim', sans-serif;
	font-size:20px;
	color: #77887d;
}

p, h1, h2, h3{
	font-family: 'Anaheim', sans-serif;
}

.navbar img{
	display:inline-block;
}
.navbar a{
	display:inline-block;
}

.navbar li a{
	padding: 0 30px 0 0;
	display: inline-block;
	text-decoration: none;
	color: #77887d;
}

.navbar li.active a{
	font-weight: bold;
	color: #222523;
}

.navbar img.logo{
	margin-top:30px;
	margin-left:70px;
	margin-bottom:25px;
	display:inline-block;
}

.navbar img.cart{
	display:inline-block;
	float:right;
	margin-right:50px;
	margin-left:50px;
	position:relative;
	top:20px;
	width: 50px;
	height: 40px;
	
}

.myfooter{
	height:100px;
}


.featured_section ul {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}


.category_section ul {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}


.rounded_div{
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	
}

.rounded_top_div{
	border-radius: 15px 15px 0px 0px; 
-moz-border-radius: 15px 15px 0px 0px; 
-webkit-border-radius: 15px 15px 0px 0px;
}

.rounded_bottom_div{
	border-radius: 0px 0px 15px 15px; 
-moz-border-radius: 0px 0px 15px 15px; 
-webkit-border-radius: 0px 0px 15px 15px ;
}

.orangy_gradient{
	background-image: linear-gradient(right top, rgb(184,174,134) 22%, rgb(230,225,170) 67%, rgb(227,227,184) 81%);
background-image: -o-linear-gradient(right top, rgb(184,174,134) 22%, rgb(230,225,170) 67%, rgb(227,227,184) 81%);
background-image: -moz-linear-gradient(right top, rgb(184,174,134) 22%, rgb(230,225,170) 67%, rgb(227,227,184) 81%);
background-image: -webkit-linear-gradient(right top, rgb(184,174,134) 22%, rgb(230,225,170) 67%, rgb(227,227,184) 81%);
background-image: -ms-linear-gradient(right top, rgb(184,174,134) 22%, rgb(230,225,170) 67%, rgb(227,227,184) 81%);

background-image: -webkit-gradient(
	linear,
	right top,
	left bottom,
	color-stop(0.22, rgb(184,174,134)),
	color-stop(0.67, rgb(230,225,170)),
	color-stop(0.81, rgb(227,227,184))
);
}

.red_gradient{
background-image: linear-gradient(left top, rgb(181,131,131) 22%, rgb(140,108,104) 50%, rgb(158,133,129) 85%);
background-image: -o-linear-gradient(left top, rgb(181,131,131) 22%, rgb(140,108,104) 50%, rgb(158,133,129) 85%);
background-image: -moz-linear-gradient(left top, rgb(181,131,131) 22%, rgb(140,108,104) 50%, rgb(158,133,129) 85%);
background-image: -webkit-linear-gradient(left top, rgb(181,131,131) 22%, rgb(140,108,104) 50%, rgb(158,133,129) 85%);
background-image: -ms-linear-gradient(left top, rgb(181,131,131) 22%, rgb(140,108,104) 50%, rgb(158,133,129) 85%);

background-image: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0.22, rgb(181,131,131)),
	color-stop(0.5, rgb(140,108,104)),
	color-stop(0.85, rgb(158,133,129))
);
}

.light_blue_gradient{
	
	background-image: linear-gradient(left bottom, rgb(134,172,184) 22%, rgb(169,219,232) 82%, rgb(182,218,227) 81%);
background-image: -o-linear-gradient(left bottom, rgb(134,172,184) 22%, rgb(169,219,232) 82%, rgb(182,218,227) 81%);
background-image: -moz-linear-gradient(left bottom, rgb(134,172,184) 22%, rgb(169,219,232) 82%, rgb(182,218,227) 81%);
background-image: -webkit-linear-gradient(left bottom, rgb(134,172,184) 22%, rgb(169,219,232) 82%, rgb(182,218,227) 81%);
background-image: -ms-linear-gradient(left bottom, rgb(134,172,184) 22%, rgb(169,219,232) 82%, rgb(182,218,227) 81%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0.22, rgb(134,172,184)),
	color-stop(0.82, rgb(169,219,232)),
	color-stop(0.81, rgb(182,218,227))
);
}

.grey_gradient{
	border: 1px solid rgb(173,171,173);
	background-image: linear-gradient(bottom, rgb(222,222,222) 15%, rgb(173,171,173) 58%, rgb(205,207,207) 79%);
	background-image: -o-linear-gradient(bottom, rgb(222,222,222) 15%, rgb(173,171,173) 58%, rgb(205,207,207) 79%);
	background-image: -moz-linear-gradient(bottom, rgb(222,222,222) 15%, rgb(173,171,173) 58%, rgb(205,207,207) 79%);
	background-image: -webkit-linear-gradient(bottom, rgb(222,222,222) 15%, rgb(173,171,173) 58%, rgb(205,207,207) 79%);
	background-image: -ms-linear-gradient(bottom, rgb(222,222,222) 15%, rgb(173,171,173) 58%, rgb(205,207,207) 79%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.15, rgb(222,222,222)),
		color-stop(0.58, rgb(173,171,173)),
		color-stop(0.79, rgb(205,207,207))
	);
}

.featured{
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	background-color: #FFFFFF;
	padding: 10px;
	width: 350px;
	vertical-align: top;
}

.custombutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #45751b), color-stop(1, #95b879) );
	background:-moz-linear-gradient( center top, #45751b 5%, #95b879 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45751b', endColorstr='#95b879');
	background-color:#45751b;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#264210;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
	height: 30px;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #95b879), color-stop(1, #45751b) );
	background:-moz-linear-gradient( center top, #95b879 5%, #45751b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#95b879', endColorstr='#45751b');
	background-color:#95b879;
}.classname:active {
	position:relative;
	top:1px;
}

.custombutton a{
	text-decoration: none;
	color:#264210;
}

.myform{
	margin: auto;
}

.myform td{
	text-align: left;
	margin-right: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

input, select{
	border-radius:5px;
 /* mozilla */
 -moz-border-radius:5px;
 /* webkit */
 -webkit-border-radius:5px;
 width:200px;
 height:25px;
}

textarea{
	border-radius:5px;
 /* mozilla */
 -moz-border-radius:5px;
 /* webkit */
 -webkit-border-radius:5px;
 width:300px;
 height:100px;
}

.form_error{
	color: red;
	text-align: center;
}

.price_totals td{
	padding-right: 20px;
}

table{
	margin-bottom: 30px;
}

.alert{
	-webkit-border-image: none;
background-color: #DFF0D8;
border-bottom-color: #D6E9C6;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: #D6E9C6;
border-left-style: solid;
border-left-width: 1px;
border-right-color: #D6E9C6;
border-right-style: solid;
border-right-width: 1px;
border-top-color: #D6E9C6;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
color: #468847;
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
height: 20px;
line-height: 20px;
margin-bottom: 5px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 8px;
padding-left: 14px;
padding-right: 35px;
padding-top: 8px;
text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px;
width: 779px;
}

.button2 {
	-moz-box-shadow:inset 0px 1px 34px 1px #88b3db;
	-webkit-box-shadow:inset 0px 1px 34px 1px #88b3db;
	box-shadow:inset 0px 1px 34px 1px #88b3db;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #365575), color-stop(1, #5a9de0) );
	background:-moz-linear-gradient( center top, #365575 5%, #5a9de0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#365575', endColorstr='#5a9de0');
	background-color:#365575;
	-moz-border-radius:19px;
	-webkit-border-radius:19px;
	border-radius:19px;
	border:6px solid #659dd4;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:15px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #3376b8;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5a9de0), color-stop(1, #365575) );
	background:-moz-linear-gradient( center top, #5a9de0 5%, #365575 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a9de0', endColorstr='#365575');
	background-color:#5a9de0;
}.classname:active {
	position:relative;
	top:1px;
}

.button2 a{
	text-decoration:none;
	color:#ffffff;
}
