<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Biscotti Plus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BiscottiPlus buy biscotti online">
    <meta name="author" content="Daniel Petrikin">
    <meta name="google-site-verification" content="3sHvkExkcqMdKU5lvQZS9xnu2ZmtTsPLVBbjmIffgIQ" />
    <meta name="keywords" content="biscotti, buy biscotti, buy biscotti online, biscotti recipe">

    <link href="{{STATIC_URL}}css/custom.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
  </head>

  <body class="wood">
		<div class="navbar">
			<a href="/"><img src="{{STATIC_URL}}img/logo.png" class="logo" style="width: {{logo.logo_width}}px; height: {{logo.logo_height}}px;" alt="logo"/></a>
			<ul>
				<li {% if tab == 'home'%}class="active"{% endif %}><a href="{% url home %}">{{tabnames.home|safe}}</a></li>
				<li {% if tab == 'about'%}class="active"{% endif %}><a href="{% url about %}">{{tabnames.about|safe}}</a></li>
				<li {% if tab == 'mmc'%}class="active"{% endif %}><a href="{% url mmc %}">{{tabnames.make_my_cookies|safe}}</a></li>
				<li {% if tab == 'bakery'%}class="active"{% endif %}><a href="{% url bakery %}">{{tabnames.bakery|safe}}</a></li>
				<li {% if tab == 'contact'%}class="active"{% endif %}><a href="{% url contact %}">{{tabnames.contact|safe}}</a></li>
			</ul>
			<a href="{% url checkout %}"><img src="{{STATIC_URL}}img/cart.png" class="cart" alt="cart"/></a>
		</div>
	    <div class="container">
	    	  
	    	  
	    	  {% block content %}
		      {% endblock %}	
	    </div>
	<div class="myfooter">
    	<a href="http://blackbeltprogramming.com" style="float: left; margin-left: 250px;">&copy; Black Belt Programming</a>
    	<a href="{% url terms %}" style="float: right; margin-right: 250px;">Terms</a>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.js"></script>
	{% block includes %}{% endblock %}
</html>
{% block js %}
{% endblock %}

