{% extends 'base.html' %}
{% load filters %}

{% block includes %}
<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.numeric.js"></script>
{% endblock %}

{% block content %}

<h2>Checkout</h2>

<div class="cart_checkout">
<form action="{% url checkout %}" method="post">
	
	<div class="cart_contents">
		<span class="column_header">Name</span><span class="column_header">Quantity</span><span class="column_header">Price</span>
		{% for item, quantity in cart.items %}
		<div class="itemrow" id="row{{item.id}}">
			<span class="column">{{item.name}}</span>
			<input class="column integer" type="text" name="id_{{item.id}}" id="{{item.id}}" value="{{quantity}}"/>
			<input type="hidden" id="price{{item.id}}" value="{{item.price}}"/>
			<span class="column" id="showprice{{item.id}}">${{quantity|multiplymoney:item.price}}</span>
			<a class="remove_from_cart" id="remove{{item.id}}">Remove</a>
		</div>
		{% endfor %}
		
		{% if shipping_on %}
		<label for="shipping">Shipping</label>
		<select id="shipping" name="shipping">
			{% for option in shipping_options %}
				<option data-price="{{option.price_in_cents}}" value="{{option.id}}">{{option.description}}</option>
			{% endfor %}
		</select>
		{% endif %}
	</div>
	
	<div class="price_totals">
		<label for="subtotalprice">Subtotal</label>
		<span id="subtotalprice"></span>
		<label for="tax">Tax</label>
		<span id="tax"></span>
		{% if shipping_on %}
		<label for="shipping_price">Shipping</label>
		<span id="shipping_price"></span>
		{% endif %}
		<label for="totalprice">Total</label>
		<span id="totalprice"></span>
	</div>
	
	<div class="credit_card_info">
		<label for="cardno">Card Number</label>
		<input type="text" name="cardno"  maxlength="17" />
		<label for="cvv">CVV</label>
		<input type="text" name="cvv" maxlength="3"/>
		<label>Expiration Month</label>
		<select name="month">
			<option value="1">01</option>
			<option value="2">02</option>
			<option value="3">03</option>
			<option value="4">04</option>
			<option value="5">05</option>
			<option value="6">06</option>
			<option value="7">07</option>
			<option value="8">08</option>
			<option value="9">09</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
		</select>
		<label>Expiration Year</label>
		<select name="year">
			<option value="2012">12</option>
			<option value="2013">13</option>
			<option value="2014">14</option>
			<option value="2015">15</option>
			<option value="2016">16</option>
			<option value="2017">17</option>
			<option value="2018">18</option>
			<option value="2019">19</option>
			<option value="2020">20</option>
			<option value="2021">21</option>
		</select>
	</div>
	
	<div class="shipping_info">
		<label for="email">Email</label>
		<input type="email" name="email"/>
		
		<label for="shipname">Name</label>
		<input type="text" name="shipname" />
		
		<label for="add1">Address Line 1</label>
		<input type="text" name="add1" />
		
		<label for="add2">Address Line 2</label>
		<input type="text" name="add2" />
		
		<label for="city">City</label>
		<input type="text" name="city" />
		
		<label for="state">State</label>
		<input type="text" name="state" />
		
		<label for="zip">Zip</label>
		<input type="text" name="zip" />
	</div>
	
	<input type="submit" value="Buy These!" />
</form>
</div>

{% endblock %}


{% block js %}
<script type="text/javascript">

	Number.prototype.formatMoney = function(c, d, t){
	var n = this, c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "," : d, t = t == undefined ? "." : t, s = n < 0 ? "-" : "", i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;
	   return '$' + s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
	 };

	function roundNumber(num, dec) {
		var result = Math.round(num*Math.pow(10,dec))/Math.pow(10,dec);
		return result;
	}

	function updatetotal(){
		
		var subtotal = 0;
		
		{% for item, quantity in cart.items%}
		    if ($("#{{item.id}}").is('*'))
				subtotal = subtotal + parseFloat($('#{{item.id}}').val() * parseFloat($('#price{{item.id}}').val()));
		{% endfor %}
		
		var tax = roundNumber(subtotal * {{tax}},2);
		
		{% if shipping_on %}
		var shipping = parseFloat($('#shipping :selected').attr('data-price') /100);
		{% else %}
		var shipping = 0;
		{% endif %}
		
		var total = subtotal + tax + shipping;
		
		$('#totalprice').html(total.formatMoney(2, '.', ','));
		$('#subtotalprice').html(subtotal.formatMoney(2, '.', ','));
		$('#tax').html(tax.formatMoney(2, '.', ','));
	}
	
	{% for item, quantity in cart.items %}
		$('#{{item.id}}').keyup(function(){
			var price = parseFloat($('#{{item.id}}').val() * parseFloat($('#price{{item.id}}').val()));
			$('#showprice{{item.id}}').html(price.formatMoney(2, '.', ','));
			updatetotal();
		});
		
		$('#remove{{item.id}}').click(function(){
			$.ajax({
				url : '{% url remove_item_from_cart item.id %}',
				type: 'POST',
		        success : function(data) {
		        	if(data.success == true){
		        		$('#row{{item.id}}').empty();
						$('#row{{item.id}}').remove();
						updatetotal();      		
		        	}
		        }
			});
		});
	
	{% endfor %}
	
	{% if shipping_on %}
	$('#shipping').change(function() {
		var ship_price = parseFloat($('#shipping :selected').attr('data-price') / 100);
		$('#shipping_price').html(ship_price.formatMoney(2,'.',','));
		updatetotal();
	});
	var ship_price = parseFloat($('#shipping :selected').attr('data-price') / 100);
	$('#shipping_price').html(ship_price.formatMoney(2,'.',','));
	{% endif %}
	updatetotal();
</script>

{% endblock %}
