{% extends 'base.html' %}
{% load filters %}

{% block includes %}
<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.numeric.js"></script>
{% endblock %}

{% block content %}

<h1 style="text-align: center">Checkout</h1>

<div class="cart_checkout">

<form action="{% url checkout %}" method="post">
	{% if error %}
	<div class="form_error">
		There was a problem processing your credit card. Please ensure all fields are filled out and correct.
	</div>
	{% endif %}
	
	
	{% if not cart %}
	<div class="rounded_div red_gradient" style="text-align: center; margin: auto; width: 600px;">
		<h2>YOUR CART IS EMPTY.</h2>
		<h3> PLEASE <a href="{% url bakery %}">VISIT THE BAKERY</a> IF YOU WISH TO PURCHASE COOKIES</h2>
	</div>
	{% else %}
	
	<div style="margin: auto; text-align: center;">
	<div class="cart_contents light_blue_gradient rounded_top_div" style="width: 600px; margin: auto;">
		<h3 style="padding-top: 10px;">Your Cart</h3>
		<img style="float: right; width: 70px; height: 250px; margin-right: 30px;" src="/static/img/cards_accepted.gif" />
		<table class="myform " style="padding-left: 20px; padding-right: 20px;" >
		<tr><td class="column_header">Name</td><td><span class="column_header">Quantity</span></td><td><span class="column_header">Price</span></td></tr>
		{% for item, quantity in cart.items %}
		<tr class="itemrow" id="row{{item.id}}"></td>
			<td><span class="column">{{item.name}}</span>
			<td style="min-width: 60px;"><input class="column integer" type="number" name="id_{{item.id}}" id="{{item.id}}" value="{{quantity}}" style="width: 40px;"
				onkeyup="this.value=this.value.replace(/[^\d]/,'')"/>
			<input type="hidden" id="price{{item.id}}" value="{{item.price}}"/></td>
			<td style="min-width: 60px;"><span class="column" id="showprice{{item.id}}">${{quantity|multiplymoney:item.price}}</span></td>
			<td><a class="remove_from_cart" id="remove{{item.id}}"><button type="button" class="button3">Remove</button></a></td>
		</tr>
		{% endfor %}
		
		{% if shipping_on %}
		<tr>
		<td><label for="shipping">Shipping</label></td>
		<td colspan="3"><select id="shipping" name="shipping" >
			{% for option in shipping_options %}
				<option data-price="{{option.price_in_cents}}" value="{{option.id}}">{{option.description}}</option>
			{% endfor %}
		</select></td>
		{% endif %}
		</tr>
		</table>
		
		
		<table class="price_totals" style="margin: auto; text-align: left;">
		<tr>
		<td><label for="subtotalprice">Subtotal</label></td>
		<td><span id="subtotalprice"></span></td></tr>
		<tr><td><label for="tax">Tax</label></td>
		<td><span id="tax"></span></td></tr>
		{% if shipping_on %}
		<tr><td><label for="shipping_price">Shipping</label></td>
		<td><span id="shipping_price"></span></td></tr>
		{% endif %}
		<tr><td><label for="totalprice">Total</label></td>
		<td><span id="totalprice"></span></td></tr>
		</table>
		
	</div></div>
	<div class="credit_card_info grey_gradient rounded_bottom_div" style="text-align: center;width: 600px; margin: auto;">
		<h3>Payment Info</h3>
		<table class="myform ">
		<tr><td><label for="cardno">Card Number</label></td>
		<td><input type="text" name="cardno"  maxlength="16" /></td>
		<td><label for="cvv">CVV</label></td>
		<td><input type="text" name="cvv" maxlength="3" style="width: 40px;"/></td></tr>
		<tr><td><label>Exp Month</label></td>
		<td><select name="month" style="width: 50px;">
			<option value="1">01</option>
			<option value="2">02</option>
			<option value="3">03</option>
			<option value="4">04</option>
			<option value="5">05</option>
			<option value="6">06</option>
			<option value="7">07</option>
			<option value="8">08</option>
			<option value="9">09</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
		</select></td>
		<td><label>Exp Year</label></td>
		<td><select name="year" style="width: 50px;">
			<option value="2012">12</option>
			<option value="2013">13</option>
			<option value="2014">14</option>
			<option value="2015">15</option>
			<option value="2016">16</option>
			<option value="2017">17</option>
			<option value="2018">18</option>
			<option value="2019">19</option>
			<option value="2020">20</option>
			<option value="2021">21</option>
		</select></td></tr>
		</table>
		<a href="https://stripe.com"><img src="/static/img/glossy.png" /></a>
		<hr/>
		<h3>Delivery Information</h3>
		<table class="myform  "  style="margin-left: 10px; margin-right: 10px;">
		<tr><td><label for="email">Email</label></td>
		<td colspan="2"><input type="email" name="email" style="width: 150px;"/></td>
		
		<td><label for="shipname">Name</label></td>
		<td colspan="2"><input type="text" name="shipname" style="width: 150px;" /></td></tr>
		
		<tr><td><label for="add1">Address Line 1</label></td>
		<td colspan="2"><input type="text" name="add1" style="width: 150px;" /></td>
		
		<td><label for="add2">Address Line 2</label></td>
		<td colspan="2"><input type="text" name="add2" style="width: 150px;" /></td></tr>
		
		<tr><td><label for="city">City</label></td>
		<td><input type="text" name="city" style="width: 120px;" /></td>
		
		<td><label for="state">State</label></td>
		<td><input type="text" name="state" style="width: 40px;" maxlength="2"/></td>
		
		<td><label for="zip">Zip</label></td>
		<td><input type="text" name="zip" style="width: 60px;" maxlength="10" /></td></tr>
		
		</table>
		
		<div style="text-align: center;"><input class="button2" type="submit" value="Buy These!" /></div>
		<br/>
	</div>
	{% endif %}
	
</form>
</div>

{% endblock %}


{% block js %}
<script type="text/javascript">

	Number.prototype.formatMoney = function(c, d, t){
	var n = this, c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "," : d, t = t == undefined ? "." : t, s = n < 0 ? "-" : "", i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;
	   return '$' + s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
	 };

	function roundNumber(num, dec) {
		var result = Math.round(num*Math.pow(10,dec))/Math.pow(10,dec);
		return result;
	}

	function updatetotal(){
		
		var subtotal = 0;
		
		{% for item, quantity in cart.items%}
		    if ($("#{{item.id}}").is('*'))
				subtotal = subtotal + parseFloat($('#{{item.id}}').val() * parseFloat($('#price{{item.id}}').val()));
		{% endfor %}
		
		var tax = roundNumber(subtotal * {{tax}},2);
		
		{% if shipping_on %}
		var shipping = parseFloat($('#shipping :selected').attr('data-price') /100);
		{% else %}
		var shipping = 0;
		{% endif %}
		
		var total = subtotal + tax + shipping;
		
		$('#totalprice').html(total.formatMoney(2, '.', ','));
		$('#subtotalprice').html(subtotal.formatMoney(2, '.', ','));
		$('#tax').html(tax.formatMoney(2, '.', ','));
	}
	
	{% for item, quantity in cart.items %}
		$('#{{item.id}}').keyup(function(){
			if ( parseFloat($('#{{item.id}}').val()) < 1)
				$('#{{item.id}}').val("1");
			var price = parseFloat($('#{{item.id}}').val() * parseFloat($('#price{{item.id}}').val()));
			$('#showprice{{item.id}}').html(price.formatMoney(2, '.', ','));
			updatetotal();
		});
		
		$('#{{item.id}}').click(function(){
			if ( parseFloat($('#{{item.id}}').val()) < 1)
				$('#{{item.id}}').val("1");
			var price = parseFloat($('#{{item.id}}').val() * parseFloat($('#price{{item.id}}').val()));
			$('#showprice{{item.id}}').html(price.formatMoney(2, '.', ','));
			updatetotal();
		});
		
		$('#remove{{item.id}}').click(function(){
			$.ajax({
				url : '{% url remove_item_from_cart item.id %}',
				type: 'POST',
		        success : function(data) {
		        	if(data.success == true){
		        		
		        		if (data.empty == true){
		        			window.location.href=window.location.href;
		        		}
		        		
		        		$('#row{{item.id}}').empty();
						$('#row{{item.id}}').remove();
						updatetotal();      		
		        	}
		        }
			});
		});
	
	{% endfor %}
	
	{% if shipping_on %}
	$('#shipping').change(function() {
		var ship_price = parseFloat($('#shipping :selected').attr('data-price') / 100);
		$('#shipping_price').html(ship_price.formatMoney(2,'.',','));
		updatetotal();
	});
	var ship_price = parseFloat($('#shipping :selected').attr('data-price') / 100);
	$('#shipping_price').html(ship_price.formatMoney(2,'.',','));
	{% endif %}
	updatetotal();
</script>

{% endblock %}
