{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center;">Contact Us!</h1>

{% if posted and not success %}
	<div class="form_error">
		Please ensure all fields are filled out and correct.
	</div>
{% endif %}

{% if posted and success %}
<h3 style="text-align: center;">Thanks for contacting us. We will get back to you as soon as possible</h3>
{% else %}
<p style="text-align: center;">If you have a question, comment, or suggestion we'd love to hear it!</p>

<table class="myform grey_gradient rounded_div" style="padding: 20px;" >
<form action="{% url contact %}" method="post"> 

<tr>
<td><label for="name">Name</label></td>
<td><input name="name" id="name" type="text"/></td>
</tr>

<tr>
<td><label for="phonenumber">Phone Number</label></td>
<td><input name="phonenumber" id="phonenumber" type="text"/></td>
</tr>

<tr>
<td><label for="email">Email</label></td>
<td><input name="email" id="email" type="email"/></td>
</tr>
<tr>
<td><label for="message">Message</label></td>
<td><textarea name="message" id="message"></textarea></td>
</tr>

<tr>
<td></td><td><input type="submit" value="Send Your Message" class="custombutton" /></td>
</tr>
</table>
{%endif%}
</form>
{% endblock %}
