{% extends 'base.html' %}

{% block content %}

<div class="rounded_div light_blue_gradient" style="overflow: hidden; margin: 20px;">
	<img src="{{STATIC_URL}}img/chocolate-pistachio-biscotti-3.gif" style="float: left; width: 300px; height: 200px; margin-right: 30px;"/>
	<p style="font-family: 'Strait', sans-serif; font-size: 40px; text-align: center; position: relative; top: -15px;">Hand-Crafted</p>
	<p style="font-family: 'Strait', sans-serif; font-size: 26px;  position: relative; top: -15px; margin-right: 20px;">
		We are proud to offer you a variety of hand-crafted, artisanal Biscotti as well as an assortment of classic holiday favorites.
		Our authentic baked goods are hand made in small batches.
	</p>
	
</div>

<div class="rounded_div orangy_gradient" style="overflow: hidden; margin: 20px;">
	<img src="{{STATIC_URL}}img/Pizzelle.gif" style="float: right; width: 450px; height: 350px;"/>
	<p style="font-family: 'Strait', sans-serif; font-size: 40px; text-align: center; position: relative; top: -15px;">Family Favorites</p>
	<p style="font-family: 'Strait', sans-serif; font-size: 26px; margin-left: 30px;  position: relative; top: -15px;">
		Our flavor profiles were created based on family favorites, originating from old family recipes.
		 Some have been fine tuned and perfected to accentuate natural flavors. Some have been refashioned to provide flavor variations. Others have remained untouched since the good 'ol days.
		  And some, were the result of a kitchen catestrophe gone oh so right.  
	</p>
	<div style="text-align: center; margin-bottom: 20px;"><button type="button" class="button2"><a href="{% url mmc %}">Do you have a family favorite?</a></button></div>
</div>

<div class="rounded_div red_gradient" style="overflow: hidden; margin: 20px;">
	<img src="{{STATIC_URL}}img/cookiecutters.gif" style="display: inline-block; vertical-align: top"/>
	<div style="display: inline-block; width: 600px;">
	<p style="font-family: 'Strait', sans-serif; font-size: 40px; text-align: center; position: relative; top: -15px;">Family Values</p>
	<p style="font-family: 'Strait', sans-serif; font-size: 26px; margin-left: 30px;  position: relative; top: -15px;">
		Cookies made by family for families. We understand the significange of sharing everything wonderful with those closest to you.
		We will always have time for your individual needs, requests, and feedback. Here you are family, we'll make sure your experience is one
		 you'll share with yours time and time again. 
	</p>
	</div>
	<img src="{{STATIC_URL}}img/cookiesmile.gif" style="display: inline-block; vertical-align: bottom; float: right;"/>
</div>

{% endblock %}
{% block includes %}
<link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
{% endblock %}
