{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center;">Make My Cookies &trade;</h1>

{% if posted and not success %}
	<div class="form_error">
		Please ensure all fields are filled out and correct.
	</div>
{% endif %}

{% if posted and success %}
<h3>Your order is being proccessed. We will get back to you as soon as possible</h3>
{% else %}
<table class="myform grey_gradient rounded_div" style="padding: 20px;" >
<form action="{% url mmc %}" method="post" enctype="multipart/form-data">
	<tr>
	<td><label for="email">Email</label></td>
	<td><input type="email" name="email" id="email" /></td>
	</tr>
	
	<tr>
	<td><label for="name">Name</label></td>
	<td><input type="text" name="name" id="name" /></td>
	</tr>
	<tr>
	<td><label for="phonenumber">Phone Number</label></td>
	<td><input type="text" name="phonenumber" id="phonenumber" /></td>
	</tr>
	<tr>
	<td><label for="instructions">Special Instructions</label></td>
	<td><textarea name="instructions" id="instructions"></textarea></td>
	</tr>
	
	<tr>
	<td><label for="text_recipe">Copy and paste your Recipe</label></td>
	<td><textarea name="text_recipe" id="text_recipe"></textarea></td>
	</tr>
	
	<tr>
	<input type="hidden" name="num_of_files" id="num_of_files" value="1"/>
	<td><label for="file_recipe">Or Attach your Recipe Files</label></td>
	<td><div id="filesection">
	<input type="file" name="file1"/>
	</div>
	</td>
	</tr>
	<tr>
	<td><button type="button" class="custombutton"><a id="add_another">Add Another</a></button></td>
	
	<td><input type="submit" value="Make My Cookies!" class="custombutton"/></td>
	</tr>
</form>
</table>
</div>
{% endif %}


{% endblock %}

{% block js %}
<script type="text/javascript">
$("#add_another").click(function(){
	var i = parseInt($("#num_of_files").val()) + 1;
	$("#num_of_files").val(i.toString());
	$("#filesection").append("<br/><input type=\"file\" name=\"file" + i.toString() + "\"/>");
});
</script>
{% endblock %}
